<h2>Informações do Curso</h2>

<hr />

<form #courseForme="ngForm" *ngIf="curso">
  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">
      Nome:</label
    >
    <div class="col-sm-10">
      <input
        [(ngModel)]="curso.name"
        required
        name="name"
        #courseName="ngModel"
        [ngClass]="{ 'is-invalid': courseName.invalid }"
        class="form-control"
        placeholder="Nome do curso"
      />
    </div>

    <div class="invalid-feedback">
      <span>Nome do curso é obrigatório!</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">
      Preço:</label
    >
    <div class="col-sm-10">
      <input
        [(ngModel)]="curso.price"
        required
        name="price"
        #coursePrice="ngModel"
        [ngClass]="{ 'is-invalid': coursePrice.invalid }"
        class="form-control"
        placeholder="Nome do curso"
        type="number"
      />
    </div>

    <div class="invalid-feedback">
      <span>Preço do curso é obrigatório</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">
      Código:</label
    >
    <div class="col-sm-10">
      <input
        [(ngModel)]="curso.code"
        required
        name="code"
        #courseCode="ngModel"
        [ngClass]="{ 'is-invalid': courseCode.invalid }"
        class="form-control"
        placeholder="Código"
      />
    </div>

    <div class="invalid-feedback">
      <span>Código é obrigatório</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">
      Duração:</label
    >
    <div class="col-sm-10">
      <input
        [(ngModel)]="curso.duracao"
        required
        name="duracao"
        #courseDuracao="ngModel"
        [ngClass]="{ 'is-invalid': courseDuracao.invalid }"
        class="form-control"
        placeholder="Duração"
      />
    </div>

    <div class="invalid-feedback">
      <span>Duração é obrigatório</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">
      Avaliação:</label
    >
    <div class="col-sm-10">
      <input
        [(ngModel)]="curso.avaliacao"
        required
        name="avaliacao"
        #courseAvaliacao="ngModel"
        [ngClass]="{ 'is-invalid': courseAvaliacao.invalid }"
        class="form-control"
        placeholder="Avaliação"
        type="number"
      />
    </div>

    <div class="invalid-feedback">
      <span>Avaliação é obrigatório</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="formGroupExampleInput" class="col-sm-2 col-form-label">
      Data:</label
    >
    <div class="col-sm-10">
      <input
        [(ngModel)]="curso.data"
        required
        name="data"
        #courseData="ngModel"
        [ngClass]="{ 'is-invalid': courseData.invalid }"
        class="form-control"
        placeholder="Data"
      />
    </div>

    <div class="invalid-feedback">
      <span>Avaliação é obrigatório</span>
    </div>
  </div>

  <button [disabled]="courseForme.invalid" (click)="save()" class="btn btn-primary mr-2">Salvar</button>
  <button [routerLink]="['/cursos']" class="btn btn-secondary mr-2">Voltar</button>
</form>
